Selected Recipies--
<% session[:slugs].each do |slug| %>
  <div>
    <%= link_to("Remove", :controller => "recipies", :action => "index", :slug => "-#{slug}") %>
    <%= slug %>
  </div>
<% end %>

<hr>

All Recipies--
<% @recipies.each do |recipe| %>
  <% recipe = JSON.parse(File.read(recipe)) %>
  <div>
    <%= link_to("Add", :controller => "recipies", :action => "index", :slug => recipe['public_slug']) %>
    <i><%= recipe['public_slug'] %></i>
    -
    <%= recipe['name'] %>
    <br>
    <% if false %>
      <% image = recipe['images'].find { |i| i['image']['size'] == 'small-square' } %>
      <%= image_tag(image['image']['url']) %>
    <% end %>
  </div>
<% end %>
