<nav>
  <%= link_to("Home", :controller => "recipies", :action => "index") %>
  ||
  <%= link_to("Lists", :controller => "lists", :action => "index") %>
</nav>
<hr>

Selected Recipies--
<% session[:slugs].each do |slug| %>
  <div>
    <%= link_to("Remove", :controller => "recipies", :action => "index", :slug => "-#{slug}") %>
    <%= slug %>
  </div>
<% end %>

<% if session[:slugs].any? %>
  <hr>
  <%= link_to("View Ingredient List", :controller => "ingredients", :action => "index") %>
<% end %>

<hr>

All Recipies--
<table border="1">
  <% @recipies.each do |recipe| %>
    <tr>
      <td>
        <% image = recipe['images'].find { |i| i['image']['size'] == 'medium-square' } %>
        <%= image_tag(image['image']['url']) %>
      </td>
      <td>
        <%= link_to(recipe['name'], :controller => "recipies", :action => "show", :id => recipe['public_slug']) %>
      </td>
      <td>
        <%= link_to("Add", :controller => "recipies", :action => "index", :slug => recipe['public_slug']) %>
      </td>
    </tr>
  <% end %>
</table>
