<nav>
  <%= link_to("Home", :controller => "recipies", :action => "index") %>
  ||
  <%= link_to("Lists", :controller => "lists", :action => "index") %>
</nav>
<hr>

<h2>
  <%= @recipe['name'] %>
</h2>

<% image = @recipe['images'].find { |i| i['image']['size'] == 'medium-rectangle' } %>
<%= image_tag(image['image']['url']) %>

<ul>
  <% @recipe['ingredients_full'].sort_by {|i| i['name'] }.each do |ingredient| %>
    <li>
      <%= ingredient['name'] %>
      -
      <%= ingredient['quantity'] %>
      <%= ingredient['measurementUnit'] %>
    </li>
  <% end %>
</ul>

<ol>
  <% @recipe['steps'].each do |step| %>
    <li>
      <%= raw(step['description']) %>
    </li>
  <% end %>
</ol>
