<nav>
  <%= link_to("Home", :controller => "recipies", :action => "index") %>
  ||
  <%= link_to("Lists", :controller => "lists", :action => "index") %>
</nav>
<hr>

<%= link_to("Create Shopping List", "lists", :method => "post") %>

<hr>

<% session[:slugs].each do |slug| %>
  <% file = File.read("app/assets/recipies/#{slug}.json") %>
  <% recipe = JSON.parse(file) %>

  <%= recipe['name'] %>
  <ul>
    <% recipe['ingredients_full'].sort_by {|i| i['name'] }.each do |ingredient| %>
      <li>
        <%= ingredient['name'] %>
        -
        <%= ingredient['quantity'] %>
        <%= ingredient['measurementUnit'] %>
      </li>
    <% end %>
  </ul>
  <hr>
<% end %>
